
  <div class="banner">
    <div class="container">
      <h1>Booze overview 🍸</h1>
      <h2><%= link_to "ADD MASTERPIECE" ,new_cocktail_path, class: "btn btn-flat" %></h2>
    </div>
  </div>


<body>
  <div class="container">
    <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "link-color" %>
      </div>
      <% end %>
   </div>
  </div>
</body>
