.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

body {
  font-family: "Bebas Neue";
  background: #0E121B;
  color: white;
  justify-content: center;
  display: flex;
}
