.banner {
  background-image: asset-url('Cocktails.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  font-family: 'Bebas Neue';
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}
