.btn-flat {
color: white;
  padding: 6px 10px;
  margin-bottom: 80px;
  border-radius: 5;
  opacity: 0.8;
  transition: opacity 0.1s ease 0s;
  font-family: "Bebas Neue";
  box-shadow: #F4F4F4 1px 1px 1px 1px, #F4F4F4 1px 1px 1px 1px;
}

.btn-flat:hover {
  opacity: 0.9;
  color: white;
}
